*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background-color: red;
}
.logo-mario{
    height: 300px;
    margin-top: -100px;

}

button {
    color: white;
    background-color: #c51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
}

.logo-mario-luigi{
    height: 500px;
}

body{
    height: 100vh;
    font-size: 20px;
    color: white; 
    text-align: justify;   
}

.caixa-mae{
    display: flex;/*só posso usar esses comandos que está dentro desses colchetes quando o display é flex*/
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    height: 100vh;
}

.caixa-principal{
    width: 30%;
}

.caixa-video{
    position: fixed;
    top: 0;
    z-index: -1;
}

/*  width: 100vw; quando quero que a imagem ocupe toda tela uso o vw e largura uso o vh
    height: 100vh;
*/

video{
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.mascara{
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

.link-whatsapp img{
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.header{
    /*display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
    color: white;*/

    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
    position: relative;
    z-index: 3;
    
}

.header img{
    height: 60px;
    /*position: fixed;*/

}

.header a {
    color: white;
    font-size: 24px;
    cursor: pointer;
    /*position: fixed;
      z-index: -1;*/
}

.header a:hover {
    color: #c51111;
    font-size: 26px;
    transition: 0.5s ease-in-out;

}

.transicao-botao:hover {
    background-color: #05770b;
    transition: 0.5s ease-in-out;
}

.formulario-fale-conosco{
    background-color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: -300%;
    padding: 20px;
    border-radius: 5px;
    transition: left 1s ease-in-out;
    
}

input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: red;
}

textarea{
    width: 270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: red;
}

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%); 
    transition: visibility 1s ease-in-out;
}
/*Media cary

max -> Valor menor que Npx, aplica o css do MEDIA
min -> Valor maior que Npx, aplica o css do MEDIA*/



@media(max-width: 1100px){
    button {
        background: green;
    }
}

/*
    Inicial
        top: 30%;
        left: -300px;

    Final
        top: 30%;
        left: 50%;
        transform: translatex (-50%);    
*/